@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  @apply border-primary border-spacing-2;
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: "#ADB5BD";
}

body {
  font-family: "Outfit", sans-serif;
}
